.header-2 {
  background-image: url(/images/space1.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.spacex__info {
  padding-top: 100px;
  padding-bottom: 100px;
  background-image: url(/images/space1.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 100vh;
}